<!DOCTYPE HTML>
<html ng-app="myQuiz">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Test Your Knowledge On:Drugs</title>
		<link rel="stylesheet" type="text/css" href="style/quiz.css">
	</head>
	<body>
		
		<div class="overlay-container">

			<div id="myQuiz" ng-controller="QuizCtrl">
					
				<h1>Test Your Knowledge :<span>Drugs</span></h1> <!-- Quiz Title -->

				<div class="progress"> <!-- Progress -->
					<div class="{{ ($index === activeQuestion) ? 'on' : 'off' }}" ng-repeat="myQuestion in myQuestions"></div> <!-- (loop through all of the questions in myQuestions variable) -->
				</div> 

				<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}"> <!-- Into -->
					<h2>Welcome</h2>
					<p>Click begin to test your knowledge of Drugs</p>
					<p class="btn" ng-click="activeQuestion = 0">Begin</p>
				</div>

				<div 
					class="question answered {{ $index === activeQuestion ? 'active' : 'inactive' }}" 
					ng-repeat="myQuestion in myQuestions"> <!-- Questions with answers and feedbacks-->
					
					<p class="txt">{{myQuestion.question}}</p>
					<p class="ans" 
						ng-click="selectAnswer($parent.$index, $index)"
						ng-repeat="Answer in myQuestions[$index].answers">
						{{Answer.text}}
					</p>
					

					<div class="feedback"> <!-- feedbacks -->
						<p>You are <strong>Correct</strong> </p>
						<p>Oops! That is not correct</p>
						<p>Additional feedback</p>
						<div class="btn">Continue</div>
					</div>

				</div>

				<div class="results"> <!-- Result and share-->
					<h3>Results</h3>
					<p>You scored X% by answering X of the total X questions.</p>
					<p>Use the links below to challege your friends</p>
					<div class="share">
						<a class="btn email" href="">Email</a>
						<a class="btn twitter" href="">Tweet</a>
					</div>
				</div>


			</div>


			<!-- background overlay -->
			<div class="overlay"></div>

		</div>
		
		
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/quiz.js"></script>
	</body>
</html>